<?xml version="1.0"?>
<config>
    <modules>
        <CoScale_Monitor>
            <version>0.1.0</version>
        </CoScale_Monitor>
    </modules>
    <global>
        <models>
            <coscale_monitor>
                <class>CoScale_Monitor_Model</class>
                <resourceModel>coscale_monitor_resource</resourceModel>
            </coscale_monitor>
            <coscale_monitor_resource>
                <class>CoScale_Monitor_Model_Resource</class>
                <entities>
                    <metric>
                        <table>coscale_metric</table>
                    </metric>
                    <event>
                        <table>coscale_event</table>
                    </event>
                </entities>
            </coscale_monitor_resource>
        </models>
        <blocks>
            <coscale_monitor>
                <class>CoScale_Monitor_Block</class>
            </coscale_monitor>
        </blocks>
        <helpers>
            <coscale_monitor>
                <class>CoScale_Monitor_Helper</class>
            </coscale_monitor>
        </helpers>
        <resources>
            <coscale_monitor_setup>
                <setup>
                    <module>CoScale_Monitor</module>
                </setup>
            </coscale_monitor_setup>
        </resources>
        <events>
            <store_save_after>
                <observers>
                    <coscale_monitor_store_add>
                        <class>coscale_monitor/event_store</class>
                        <method>addNew</method>
                    </coscale_monitor_store_add>
                </observers>
            </store_save_after>
        </events>
    </global>
    <default>
        <coscale>
            <general>
                <maxruntime>1000</maxruntime>
            </general>
        </coscale>
    </default>
</config>