<?xml version="1.0"?>
<config>
    <modules>
        <CoScale_Monitor>
            <version>0.11.0</version>
        </CoScale_Monitor>
    </modules>
    <global>
        <models>
            <coscale_monitor>
                <class>CoScale_Monitor_Model</class>
                <resourceModel>coscale_monitor_resource</resourceModel>
            </coscale_monitor>
            <coscale_monitor_resource>
                <class>CoScale_Monitor_Model_Resource</class>
                <entities>
                    <metric>
                        <table>coscale_metric</table>
                    </metric>
                    <event>
                        <table>coscale_event</table>
                    </event>
                </entities>
            </coscale_monitor_resource>
        </models>
        <blocks>
            <coscale_monitor>
                <class>CoScale_Monitor_Block</class>
            </coscale_monitor>
        </blocks>
        <helpers>
            <coscale_monitor>
                <class>CoScale_Monitor_Helper</class>
            </coscale_monitor>
        </helpers>
        <resources>
            <coscale_monitor_setup>
                <setup>
                    <module>CoScale_Monitor</module>
                </setup>
            </coscale_monitor_setup>
        </resources>
        <events>
            <store_save_after>
                <observers>
                    <coscale_monitor_event_store_add>
                        <class>coscale_monitor/event_store</class>
                        <method>addNew</method>
                    </coscale_monitor_event_store_add>
                </observers>
            </store_save_after>
            <customer_save_after>
                <observers>
                    <coscale_monitor_metric_customer_add>
                        <class>coscale_monitor/metric_customer</class>
                        <method>addNew</method>
                    </coscale_monitor_metric_customer_add>
                </observers>
            </customer_save_after>
            <catalog_category_save_after>
                <observers>
                    <coscale_monitor_metric_category_add>
                        <class>coscale_monitor/metric_product</class>
                        <method>addNewCategory</method>
                    </coscale_monitor_metric_category_add>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_commit_after>
                <observers>
                    <coscale_monitor_metric_category_remove>
                        <class>coscale_monitor/metric_product</class>
                        <method>removeCategory</method>
                    </coscale_monitor_metric_category_remove>
                </observers>
            </catalog_category_delete_commit_after>
            <catalog_product_save_after>
                <observers>
                    <coscale_monitor_metric_product_add>
                        <class>coscale_monitor/metric_product</class>
                        <method>addNewProduct</method>
                    </coscale_monitor_metric_product_add>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <coscale_monitor_metric_product_remove>
                        <class>coscale_monitor/metric_product</class>
                        <method>removeProduct</method>
                    </coscale_monitor_metric_product_remove>
                </observers>
            </catalog_product_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <coscale_monitor_metric_order_add>
                        <class>coscale_monitor/metric_order</class>
                        <method>addNew</method>
                    </coscale_monitor_metric_order_add>
                </observers>
            </sales_order_place_after>

            <controller_action_predispatch_adminhtml_process_massReindex>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_reindex</class>
                        <method>startIndex</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_process_massReindex>
            <controller_action_postdispatch_adminhtml_process_massReindex>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_reindex</class>
                        <method>endIndex</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_process_massReindex>

            <controller_action_predispatch_adminhtml_cache_flushSystem>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>startFlushSystem</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_cache_flushSystem>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>endFlushSystem</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>

            <controller_action_predispatch_adminhtml_cache_flushAll>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>startFlushAll</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_cache_flushAll>
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>endFlushAll</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>

            <controller_action_predispatch_adminhtml_cache_cleanImages>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>startCleanImages</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_cache_cleanImages>
            <controller_action_postdispatch_adminhtml_cache_cleanImages>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>endCleanImages</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_cleanImages>

            <controller_action_predispatch_adminhtml_cache_cleanMedia>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>startCleanAssets</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_cache_cleanMedia>
            <controller_action_postdispatch_adminhtml_cache_cleanMedia>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>endCleanAssets</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_cleanMedia>

            <controller_action_predispatch_adminhtml_cache_massRefresh>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>startMassRefresh</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_predispatch_adminhtml_cache_massRefresh>
            <controller_action_postdispatch_adminhtml_cache_massRefresh>
                <observers>
                    <coscale_monitor_event_reindex_start>
                        <class>coscale_monitor/event_cache</class>
                        <method>endMassRefresh</method>
                    </coscale_monitor_event_reindex_start>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_massRefresh>
        </events>
    </global>
    <default>
        <coscale>
            <general>
                <maxruntime>1000</maxruntime>
            </general>
        </coscale>
    </default>

    <crontab>
        <jobs>
            <coscale_daily_cron>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>coscale_monitor/cronjobs::dailyCron</model>
                </run>
            </coscale_daily_cron>
        </jobs>
    </crontab>
</config>