/*

!/.gitignore

!/app/
/app/*

# add the vendor definition(s)
!/app/etc/
/app/etc/*
!/app/etc/modules/
/app/etc/modules/*
!/app/etc/modules/CoScale_*

# add the vendor module(s)
!/app/code
/app/code/*
!/app/code/community/
/app/code/community/*
!/app/code/community/CoScale/*

!/app/design
/app/design/*
!/app/design/adminhtml/
/app/design/adminhtml/*
!/app/design/adminhtml/default
/app/design/adminhtml/default/*
!/app/design/adminhtml/default/default
/app/design/adminhtml/default/default/*
!/app/design/adminhtml/default/default/layout
/app/design/adminhtml/default/default/layout/*
!/app/design/adminhtml/default/default/layout/coscale*
!/app/design/adminhtml/default/default/template
/app/design/adminhtml/default/default/template/*
!/app/design/adminhtml/default/default/template/coscale*
!/app/design/frontend/
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/coscale*
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/coscale*

!/js/
/js/*
!/js/coscale*

!/skin/
/skin/*
!/skin/adminhtml
/skin/adminhtml/*
!/skin/adminhtml/default
/skin/adminhtml/default/*
!/skin/adminhtml/default/default
/skin/adminhtml/default/default/*
!/skin/adminhtml/default/default/coscale*

!/skin/frontend
/skin/frontend/*
!/skin/frontend/base
/skin/frontend/base/*
!/skin/frontend/base/default
/skin/frontend/base/default/*
!/skin/frontend/base/default/coscale*

!/shell/
/shell/*
!/shell/coscale*